<div *ngIf="isfinish" class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="../../assets/Logo.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{student.Student_Name}}
                    </h5>
                    <h6>
                        {{student.Student_Email}}
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" (click)="gotohome()" role="tab">ข้อมูลส่วนตัว</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" (click)="gotolesson()" role="tab">แบบเรียน</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" (click)="gotoex()" role="tab">แบบฝึกหัด</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input (click)="logout()" type="submit" class="profile-edit-btn" value="Logout" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>แบบเรียน</p>
                    <a *ngFor="let progess of student.Student_Progess.learning ; let i = index">บทที่ {{i+1}} {{progess?
                        "ผ่าน" :"ยังไม่ผ่าน"}}<br></a>
                    <p>แบบฝึกหัด</p>
                    <a *ngFor="let problem of problems  ; let i = index">แบบฝึกหัดที่ {{problem}}
                        {{this.student.Student_Progess.exercise[problem]? "ทำแล้ว" :"ยังไม่ได้ทำ"}}
                        <a style="color: green;">{{this.student.Student_Score[problem]&&this.student.Student_Progess.exercise[problem]? "(ถูกต้อง)":""}}{{!this.student.Student_Score[problem]&&this.student.Student_Progess.exercise[problem]?"(กำลังตรวจ)":""}}</a><br></a>                    </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Student ID</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{student.Student_ID}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{student.Student_Name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{student.Student_Email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Group</label>
                            </div>
                            <div class="col-md-6">
                                <p>กลุ่มที่ {{student.Student_Section}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>